/*@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);*/

body, a {
    font-size: .875rem;
    color: #333333;
}

button {
    background-color: initial;
    color: #333333;
}

button:hover, a:hover {
    color: limegreen;
    cursor: pointer;
    text-decoration: none;
}

.highlightColor{
    color: limegreen;
}

.highlightBackground{
    background-color: limegreen;
}
