/*@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);*/
@import url("~material-design-icons/iconfont/material-icons.css");
body, a {
    font-size: .875rem;
    color: #333333;
    margin: 0;
}

button {
    background-color: initial;
    color: #333333;
}
input:focus, button:focus{
    outline:none !important;
}
button:hover, a:hover {
    color: #005662;
    cursor: pointer;
    text-decoration: none;
}

.highlightColor {
    color: #005662;
}

.highlightBackground {
    background-color: #005662;
}

.main{
    padding-top: 69px;
    height: 100vh;
}

.paddingTop-10 {
    padding-top: 10px;
}

.padding-15{
padding: 15px;
}

.paddingLeft-15{
    padding-left: 15px !important;
}
.paddingBottom-20 {
    padding-bottom: 20px;
}
.marginTop-3 {
margin-top: 3px;
}

.marginTop-5 {
margin-top: 5px;
}

.marginTop-7 {
margin-top: 7px;
}
.marginTop-10 {
margin-top: 10px;
}

.marginTop-15 {
margin-top: 15px;
}

.marginTop-20 {
margin-top: 20px;
}

.marginBottom-3 {
    margin-bottom: 3px;
}

.marginBottom-5 {
    margin-bottom: 5px;
}

.marginBottom-7 {
    margin-bottom: 7px;
}
.marginBottom-10 {
    margin-bottom: 10px;
}

.marginBottom-15 {
    margin-bottom: 15px;
}

.marginBottom-20 {
    margin-bottom: 20px;
}